@model BLL.App.DTO.Transport

@{
    ViewData["Title"] = "Details";
}

<h1>@Resources.Views.Shared.DetailsShared.Details</h1>

<div>
    <h4>Transport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Resources.Views.Shared.EditShared.Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
